html, body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seaShell;
  background-color: #000;
  opacity: 0.9;
  text-align: center;
}

.container{
  width: 100%;
  overflow: hidden;
}

ul li{
  list-style: none;
}

/* Header Styles */

.header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid seaShell;
  height: 69px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  opacity: 0.9;
  z-index: 10;
}

    .header img{
      margin: 10px 0 0 10px;
      height: 50px;
      width: auto;
    }

    .header nav{
      margin-right: 20px;
    }

    .header nav ul li{
      display: inline-block;
      margin-left: 15px;
    }

    .header nav ul li span{
      text-decoration: underline;
    }
/* Banner Styles */
.banner{
  margin-bottom: 75px;
}
    .banner-content{
      width: 1200px;
      height: 700px;
      margin: 0 auto;
      background-image: url("../images/img-mission-background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding-top: 400px;
    }

        .banner-text{
          background-color: #000;
          opacity: 0.9;
          padding: 10px 0;
        }

        .banner-text h2{
          margin: 5px 0;
        }

        .banner-text h4{
          margin: 5px 0;
        }
/* Featured Styles */

.featured{
  width: 1000px;
  margin: 0 auto;
}

    .features{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .featured-content img{
      width: 300px;
      height: 200px;
      margin: 0 15px;
    }

    .featured-content h4{
      margin-top: 10px;
    }
/* Locations Styles */

.locations{
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  background-image: url("../images/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 30px;
}

    .locations h2{
      margin-bottom: 0;
    }

    .locations-content{
      display: flex;
      justify-content: center;
    }

        .location-container{
          flex-basis: 300px;
          text-align: center;
          background-color: #000;
          margin: 15px 20px;
        }

            .location-container ul{
              padding: 0;
            }

            .location-container ul li{
              margin-bottom: 45px;
            }
/* Contact Styles */

.contact{
  height: 200px;
}

/* Footer Styles */

.footer p{
  text-align: left;
  margin-left: 20px;
}
